.auth-content {
  display: flex;
}
.auth-content .LoginModal_leftSection {
  max-width: 55%;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
}
.auth-content .LoginModal_leftSection .LoginModal_authBanner {
  min-width: 480px;
  position: relative;
  overflow: hidden;
}
.auth-content .LoginModal_leftSection .LoginModal_authBanner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: clamp(555px, 40vw, 746px);
}
.auth-content .LoginModal_leftSection .LoginModal_authBanner .LoginModal_bannerTextWrap {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
}
.auth-content .LoginModal_leftSection .LoginModal_authBanner .LoginModal_bannerTextWrap .LoginModal_bannerBoldText {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.auth-content .LoginModal_leftSection .LoginModal_authBanner .LoginModal_bannerTextWrap span {
  box-sizing: border-box !important;
}
.auth-content .LoginModal_rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.auth-content .LoginModal_rightSection .newLoginPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 25vw;
}
.auth-content .LoginModal_rightSection .newLoginPage .inputFieldDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25vw;
}
.auth-content .LoginModal_rightSection .newLoginPage .inputFieldDiv .react-tel-input .form-control {
  height: 40px !important;
  width: 100% !important;
}
.auth-content .LoginModal_rightSection .newLoginPage .inputFieldDiv .loginModal_auth_text {
  font-size: 12px;
  font-weight: 400;
  color: #5f5f5f;
}
.auth-content .LoginModal_rightSection .newLoginPage .loginModal_auth {
  font-size: 12px;
  font-weight: 400;
  color: #5f5f5f;
  margin-top: 10px;
}
.auth-content .LoginModal_rightSection .newLoginPage .loginModal_auth b {
  font-weight: bold;
  color: #515151;
  cursor: pointer;
}
.auth-content .LoginModal_rightSection .newLoginPage .LoginModal_authDescription {
  margin-left: auto;
  padding-top: 10px;
}
.auth-content .LoginModal_rightSection .newLoginPage .LoginModal_authDescription .LoginModal_active {
  color: blue;
  cursor: pointer;
  font-weight: 500;
}
.auth-content .LoginModal_rightSection .newLoginPage .googleLogin {
  margin-top: 0.5rem;
  margin-left: 4rem;
}
.auth-content .LoginModal_rightSection .newLoginPage .googleLogin div {
  height: 40px !important;
  width: 200px !important;
  line-height: 40px !important;
}
.auth-content .LoginModal_rightSection .newLoginPage .googleLogin div div {
  width: 25px !important;
  height: 42px !important;
  margin-top: -3px !important;
  margin-left: -1px !important;
}
.auth-content .LoginModal_rightSection .newLoginPage .ratingDivider div::before {
  width: 6vw;
}
.auth-content .LoginModal_rightSection .newLoginPage .ratingDivider div::after {
  width: 6vw;
}

.LoginModal_authBanner::before {
  position: absolute;
  content: "";
  opacity: 0.75;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(43deg, rgb(0, 0, 0), transparent 50%, rgba(0, 0, 0, 0.7));
  z-index: 0;
}

.MuiDivider-root::before,
.MuiDivider-root::after {
  width: 6vw;
  border-top: thin solid rgba(0, 0, 0, 0.12);
  border-top-style: inherit;
}/*# sourceMappingURL=login.css.map */